.gradient-custom {
    /* fallback for old browsers */
    background: #a572db;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(12, 125, 218), rgb(180, 26, 134));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(12, 125, 218), rgba(180, 26, 134))
  }